/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .main-content {
    min-height: 100vh;
    padding-bottom: 60px; 
  }
  
 
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: fixed; 
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: center;
    z-index: 1000; 
  }
  
  .contact-info {
    margin: 20px 0;
  }
  
 
  .social-media {
    margin: 20px 0;
  }
  
  .social-link {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .social-link:hover {
    color: #ddd;
  }
  
  .footer-note {
    margin-top: 20px;
  } */

  html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  .main-content {
    min-height: 100vh;
    padding-bottom: 60px; /* Ajusta este valor al alto del footer */
    box-sizing: border-box; /* Asegura que el padding se incluya en el tamaño total */
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative; /* Cambia a relative para que no se superponga al contenido */
    bottom: 0;
    left: 0;
    width: 100%; 
    text-align: center;
    z-index: 1000;
  }
  
  .contact-info, .social-media {
    margin: 10px 0; /* Reduce los márgenes para minimizar la altura del footer */
  }
  
  .social-link {
    color: #fff;
    margin: 0 10px;
    font-size: 1.5em;
    text-decoration: none;
  }
  
  .social-link:hover {
    color: #ddd;
  }
  
  .footer-note {
    margin-top: 10px; /* Reduce el margen superior */
  }